* {
background-image: url(../img/background.jpgy)
}
body, h1,h2,h3,h4,h5,h6{
    font-family: "Montserrat", sans-serif
  }
  .w3-row-padding img {
    margin-bottom: 12px
  }
  /* Set the width of the sidebar to 120px */
  .w3-sidebar {
    width: 120px;
    background:rgba(0, 0, 0, 0.103);
  }
  /* Add a left margin to the "page content" that matches the width of the sidebar (120px) */
  #main {
    margin-left: 120px
  }
  /* Remove margins from "page content" on small screens */
  @media only screen and (max-width: 600px) {#main {margin-left: 0}}
  .accordion-container {
    width: 100%;
    margin: 0 0 20px;
    clear:both;
  }
  
  .accordion-titulo {
    position: relative;
    display: block;
    padding: 20px;
    font-size: 24px;
    font-weight: 300;
    background: #2c3e50;
    color: #fff;
    text-decoration: none;
  }
  .accordion-titulo.open {
    background: #16a085;
    color: #fff;
  }
  .accordion-titulo:hover {
    background: #1abc9c;
  }
  
  .accordion-titulo span.toggle-icon:before {
    content:"+";
  }
  
  .accordion-titulo.open span.toggle-icon:before {
    content:"-";
  }
  
  .accordion-titulo span.toggle-icon {
    position: absolute;
    top: 10px;
    right: 20px;
    font-size: 38px;
    font-weight:bold;
  }
  
  .accordion-content {
    display: none;
    padding: 20px;
    overflow: auto;
  }
  
  .accordion-content p{
    margin:0;
  }
  
  .accordion-content img {
    display: block;
    float: left;
    margin: 0 15px 10px 0;
    width: 50%;
    height: auto;
  }
  
  
  @media (max-width: 767px) {
    .accordion-content {
      padding: 10px 0;
    }
  }
  
  .carousel .item img {
    max-height: 10px;
    min-width: auto;
  }