<!-- TEMPLATE BASE: BARRA LATERAL -->

  <html>

    <!-- HEAD: Hojas de estilo base -->
    
      <head>
        <title>Prode 2022</title>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1">
        <link rel="stylesheet" href="https://www.w3schools.com/w3css/4/w3.css">
        <link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Montserrat">
        <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
        <script src="/../../static/js/jquery-3.6.0.min.js"></script>
        {% load static %}
        <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.2.0-beta1/dist/js/bootstrap.bundle.min.js" integrity="sha384-pprn3073KE6tl6bjs2QrFaJGz5/SUsLqktiwsUTF55Jfv3qYSDhgCecCxMW52nD2" crossorigin="anonymous"></script>
        <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.2.0-beta1/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-0evHe/X+R7YkIZDRvuzKMRqM+OrBnVFBL6DOitfPri4tjfHxaWutUpFmBp4vmVor" crossorigin="anonymous">


        <script src="{% static 'app.js' %}"></script>   

        <link rel="stylesheet" href="/../../static/css/style.css">
      </head>
    
    <!-- BODY: -->

      <body class="w3-black" style="background-image:url(/../../static/img/background.jpg)">
        
        <!-- Icon Bar (Sidebar - hidden on small screens) -->
        
          <nav class="w3-sidebar w3-bar-block w3-small w3-hide-small w3-center">
              <!-- Avatar image in top left corner -->
              
                <a href="/../../polls/home" {% if request.resolver_match.url_name == 'home' %} class="w3-bar-item w3-button w3-padding-large w3-black" {% else %} class="w3-bar-item w3-button w3-padding-large w3-hover-black" {% endif %}>
                  <img src="{% static 'img/logo_blanco.png' %}" alt="My image" style="width:75%">
                  <!-- <i class="fa fa-home w3-xxlarge"></i> -->
                  <!-- <p>Inicio</p> -->
                </a>
                <a href="/../../polls/perfil" {% if request.resolver_match.url_name == 'perfil' %} class="w3-bar-item w3-button w3-padding-large w3-black" {% else %} class="w3-bar-item w3-button w3-padding-large w3-hover-black" {% endif %}>
                  <i class="fa fa-user w3-xxlarge"></i>
                  <p>Perfil</p>
                </a>
                <!-- <a href="/../../polls/paises" {% if request.resolver_match.url_name == 'paises' %} class="w3-bar-item w3-button w3-padding-large w3-black" {% else %} class="w3-bar-item w3-button w3-padding-large w3-hover-black" {% endif %}>
                  <i class="fa fa-user w3-xxlarge"></i>
                  <p>Países</p>
                </a>
                <a href="/../../polls/grupos" class="w3-bar-item w3-button w3-padding-large w3-hover-black">
                  <i class="fa fa-eye w3-xxlarge"></i>
                  <p>Grupos</p>
                </a> -->
                <a href="/../../polls/predicciones" class="w3-bar-item w3-button w3-padding-large w3-hover-black">
                  <i class="fa fa-envelope w3-xxlarge"></i>
                  <p>{{user}}</p>
                </a>
                <a href="/../../polls/cargar/{{fecha_actual}}" class="w3-bar-item w3-button w3-padding-large w3-hover-black">
                  <i class="fa fa-envelope w3-xxlarge"></i>
                  <p>Carga</p>
                </a>
          </nav>

        <!-- Navbar on small screens (Hidden on medium and large screens) -->
          
          <div class="w3-top w3-hide-large w3-hide-medium" id="myNavbar">
            <div class="w3-bar w3-black w3-opacity w3-hover-opacity-off w3-center w3-small">
              <a href="#" class="w3-bar-item w3-button" style="width:25% !important">Inicio</a>
              <a href="#about" class="w3-bar-item w3-button" style="width:25% !important">Perfil</a>
              <a href="#photos" class="w3-bar-item w3-button" style="width:25% !important">Participantes</a>
              <a href="#contact" class="w3-bar-item w3-button" style="width:25% !important">Envíos</a>
              <a href="#contact" class="w3-bar-item w3-button" style="width:25% !important">Resultados</a>
            </div>
          </div>

        <!-- Page Content -->
          
          <div class="w3-padding-large" id="main">
            {% block content %}{% endblock %}
          </div>

      </body>
  </html>