{% extends "polls/base.html" %}

{% block content %}
    <header class="w3-container w3-padding-32 w3-center" id="home">
        <h1 class="w3-jumbo"><span class="w3-hide-small">Cargar predicciones</h1>
    </header>

    <div class="w3-content w3-justify w3-text-grey w3-padding-64" id="about">
        {% if partidos %}
        
            <div class="w3-container">
                <h5>Partidos fecha {{ fecha }}</h5>
                <table class="w3-table w3-striped w3-bordered w3-border w3-hoverable w3-white">
                    <form method = "post">
                        {% csrf_token %}
                        {% for partido,prediccion in partidos %}
                            <tr>
                                <td>{{ partido.home }}</td>
                                <td><input name="{{partido.id}}" type="number" required value="{% if prediccion %}{{ prediccion.home_score }}{% else %}0{% endif %}" min="0" max="25" style="float: right;"></td>
                                <td style="text-align: center;">-</td>
                                <td><input name="{{partido.id}}" type="number" required value="{% if prediccion %}{{ prediccion.away_score }}{% else %}0{% endif %}" min="0" max="25" style="float: left;"></td>
                                <td>{{ partido.away }}</td>
                                <input name="fecha" type="hidden" value="{{ partido.round }}">
                            </tr>
                        {% endfor %}
                        <input type="submit" value="Submit">
                    </form>
                </table>
                <br>
                {% if fecha > 1 %}
                    <a class="w3-button w3-dark-grey" href="/polls/cargar/{{ fecha_ant }}">Anterior fecha  <i class="fa fa-arrow-left"></i></a>
                {% endif %}
                {% if fecha < 3 %}
                    <a class="w3-button w3-dark-grey" href="/polls/cargar/{{ fecha_sig }}">Siguiente fecha  <i class="fa fa-arrow-right"></i></a>
                {% endif %}
            </div>

                <img src="{{ pais.flag }}" /> {{ pais.name }}
                <BR></BR>
        </ul>
        {% else %}
        <p>No hay países disponibles.</p>
        {% endif %}
    </div>
    <!-- <form action = "respue" method = "post">
        {% csrf_token %}
        {{form }}
        <input type="submit" value="Submit">
    </form> -->
{% endblock %}