{% extends "polls/base.html" %}

{% block content %}
<header class="w3-container w3-padding-32 w3-center w3-black" id="home">
    <h1 class="w3-jumbo"><span class="w3-hide-small">Grupos</h1>
    </header>
    <div class="w3-content w3-justify w3-text-grey w3-padding-64" id="about">
        <h1>GRUPO A</h1>
        <table class="table">
            <thead>
              <tr>
                <th scope="col"></th>
                <th scope="col">PTS</th>
                <th scope="col">PJ</th>
                <th scope="col">PG</th>
                <th scope="col">PE</th>
                <th scope="col">PP</th>
                <th scope="col">GF</th>
                <th scope="col">GC</th>
                <th scope="col">DG</th>
              </tr>
            </thead>
            <tbody>
                {% for each in a %}
                    <tr {% if forloop.counter == 1 or forloop.counter == 2 %} class="table-success" {% else %}  class="table-danger" {% endif %}>
                        <th scope="row">{{ each.EQ }}</th>
                        <td>{{ each.PTS }}</td>
                        <td>{{ each.PJ }}</td>
                        <td>{{ each.PG }}</td>
                        <td>{{ each.PE }}</td>
                        <td>{{ each.PP }}</td>
                        <td>{{ each.GF }}</td>
                        <td>{{ each.GC }}</td>
                        <td>{{ each.DG }}</td>
                    </tr>
                {% endfor %}
            </tbody>
        </table>
          
        <h1>GRUPO B</h1>
        <table class="table">
              <thead>
                <tr>
                  <th scope="col"></th>
                  <th scope="col">PTS</th>
                  <th scope="col">PJ</th>
                  <th scope="col">PG</th>
                  <th scope="col">PE</th>
                  <th scope="col">PP</th>
                  <th scope="col">GF</th>
                  <th scope="col">GC</th>
                  <th scope="col">DG</th>
                </tr>
              </thead>
              <tbody>
                  {% for each in b %}
                    <tr {% if forloop.counter == 1 or forloop.counter == 2 %} class="table-success" {% else %}  class="table-danger" {% endif %}>
                        <th scope="row">{{ each.EQ }}</th>
                        <td>{{ each.PTS }}</td>
                        <td>{{ each.PJ }}</td>
                        <td>{{ each.PG }}</td>
                        <td>{{ each.PE }}</td>
                        <td>{{ each.PP }}</td>
                        <td>{{ each.GF }}</td>
                        <td>{{ each.GC }}</td>
                        <td>{{ each.DG }}</td>
                    </tr>
                  {% endfor %}
              </tbody>
        </table>
            
        <h1>GRUPO C</h1>
        <table class="table">
            <thead>
                <tr>
                <th scope="col"></th>
                <th scope="col">PTS</th>
                <th scope="col">PJ</th>
                <th scope="col">PG</th>
                <th scope="col">PE</th>
                <th scope="col">PP</th>
                <th scope="col">GF</th>
                <th scope="col">GC</th>
                <th scope="col">DG</th>
                </tr>
            </thead>
            <tbody>
                {% for each in c %}
                    <tr {% if forloop.counter == 1 or forloop.counter == 2 %} class="table-success" {% else %}  class="table-danger" {% endif %}>
                        <th scope="row">{{ each.EQ }}</th>
                        <td>{{ each.PTS }}</td>
                        <td>{{ each.PJ }}</td>
                        <td>{{ each.PG }}</td>
                        <td>{{ each.PE }}</td>
                        <td>{{ each.PP }}</td>
                        <td>{{ each.GF }}</td>
                        <td>{{ each.GC }}</td>
                        <td>{{ each.DG }}</td>
                    </tr>
                {% endfor %}
            </tbody>
        </table>
        
        <h1>GRUPO D</h1>
        <table class="table">
                  <thead>
                    <tr>
                      <th scope="col"></th>
                      <th scope="col">PTS</th>
                      <th scope="col">PJ</th>
                      <th scope="col">PG</th>
                      <th scope="col">PE</th>
                      <th scope="col">PP</th>
                      <th scope="col">GF</th>
                      <th scope="col">GC</th>
                      <th scope="col">DG</th>
                    </tr>
                  </thead>
                  <tbody>
                      {% for each in d %}
                        <tr {% if forloop.counter == 1 or forloop.counter == 2 %} class="table-success" {% else %}  class="table-danger" {% endif %}>
                            <th scope="row">{{ each.EQ }}</th>
                            <td>{{ each.PTS }}</td>
                            <td>{{ each.PJ }}</td>
                            <td>{{ each.PG }}</td>
                            <td>{{ each.PE }}</td>
                            <td>{{ each.PP }}</td>
                            <td>{{ each.GF }}</td>
                            <td>{{ each.GC }}</td>
                            <td>{{ each.DG }}</td>
                        </tr>
                      {% endfor %}
                  </tbody>
        </table>
                
        <h1>GRUPO E</h1>
        <table class="table">
                    <thead>
                      <tr>
                        <th scope="col"></th>
                        <th scope="col">PTS</th>
                        <th scope="col">PJ</th>
                        <th scope="col">PG</th>
                        <th scope="col">PE</th>
                        <th scope="col">PP</th>
                        <th scope="col">GF</th>
                        <th scope="col">GC</th>
                        <th scope="col">DG</th>
                      </tr>
                    </thead>
                    <tbody>
                        {% for each in e %}
                            <tr {% if forloop.counter == 1 or forloop.counter == 2 %} class="table-success" {% else %}  class="table-danger" {% endif %}>
                                <th scope="row">{{ each.EQ }}</th>
                                <td>{{ each.PTS }}</td>
                                <td>{{ each.PJ }}</td>
                                <td>{{ each.PG }}</td>
                                <td>{{ each.PE }}</td>
                                <td>{{ each.PP }}</td>
                                <td>{{ each.GF }}</td>
                                <td>{{ each.GC }}</td>
                                <td>{{ each.DG }}</td>
                            </tr>
                        {% endfor %}
                    </tbody>
        </table>
                  
        <h1>GRUPO F</h1>
        <table class="table">
                      <thead>
                        <tr>
                          <th scope="col"></th>
                          <th scope="col">PTS</th>
                          <th scope="col">PJ</th>
                          <th scope="col">PG</th>
                          <th scope="col">PE</th>
                          <th scope="col">PP</th>
                          <th scope="col">GF</th>
                          <th scope="col">GC</th>
                          <th scope="col">DG</th>
                        </tr>
                      </thead>
                      <tbody>
                          {% for each in f %}
                            <tr {% if forloop.counter == 1 or forloop.counter == 2 %} class="table-success" {% else %}  class="table-danger" {% endif %}>
                                <th scope="row">{{ each.EQ }}</th>
                                <td>{{ each.PTS }}</td>
                                <td>{{ each.PJ }}</td>
                                <td>{{ each.PG }}</td>
                                <td>{{ each.PE }}</td>
                                <td>{{ each.PP }}</td>
                                <td>{{ each.GF }}</td>
                                <td>{{ each.GC }}</td>
                                <td>{{ each.DG }}</td>
                            </tr>
                          {% endfor %}
                      </tbody>
        </table>
        
        <h1>GRUPO G</h1>
        <table class="table">
            <thead>
                <tr>
                <th scope="col"></th>
                <th scope="col">PTS</th>
                <th scope="col">PJ</th>
                <th scope="col">PG</th>
                <th scope="col">PE</th>
                <th scope="col">PP</th>
                <th scope="col">GF</th>
                <th scope="col">GC</th>
                <th scope="col">DG</th>
                </tr>
            </thead>
            <tbody>
                {% for each in g %}
                    <tr {% if forloop.counter == 1 or forloop.counter == 2 %} class="table-success" {% else %}  class="table-danger" {% endif %}>
                        <th scope="row">{{ each.EQ }}</th>
                        <td>{{ each.PTS }}</td>
                        <td>{{ each.PJ }}</td>
                        <td>{{ each.PG }}</td>
                        <td>{{ each.PE }}</td>
                        <td>{{ each.PP }}</td>
                        <td>{{ each.GF }}</td>
                        <td>{{ each.GC }}</td>
                        <td>{{ each.DG }}</td>
                    </tr>
                {% endfor %}
            </tbody>
        </table>
                      
        <h1>GRUPO H</h1>
        <table class="table">
            <thead>
            <tr>
                <th scope="col"></th>
                <th scope="col">PTS</th>
                <th scope="col">PJ</th>
                <th scope="col">PG</th>
                <th scope="col">PE</th>
                <th scope="col">PP</th>
                <th scope="col">GF</th>
                <th scope="col">GC</th>
                <th scope="col">DG</th>
            </tr>
            </thead>
            <tbody>
                {% for each in h %}
                    <tr {% if forloop.counter == 1 or forloop.counter == 2 %} class="table-success" {% else %}  class="table-danger" {% endif %}>
                        <th scope="row">{{ each.EQ }}</th>
                        <td>{{ each.PTS }}</td>
                        <td>{{ each.PJ }}</td>
                        <td>{{ each.PG }}</td>
                        <td>{{ each.PE }}</td>
                        <td>{{ each.PP }}</td>
                        <td>{{ each.GF }}</td>
                        <td>{{ each.GC }}</td>
                        <td>{{ each.DG }}</td>
                    </tr>
                {% endfor %}
            </tbody>
        </table>
                                                        
    </div>
{% endblock %}