{% extends "polls/base.html" %}

{% block content %}
<!-- Header/Home -->
  <header class="w3-container w3-padding-32 w3-center w3-black" id="home">
    <h1 class="w3-jumbo"><span class="w3-hide-small">Mundial Qatar 2022: </span> Prode</h1>
  </header>
  <!-- About Section -->
  <div class="w3-content w3-justify w3-text-grey w3-padding-64" id="about">
    {% if noticias %} <!-- {% load static %} -->
      <div id="carouselExampleCaptions" class="carousel slide" data-bs-ride="carousel">
        <div class="carousel-indicators">
          <button type="button" data-bs-target="#carouselExampleCaptions" data-bs-slide-to="0" class="active" aria-current="true" aria-label="Slide 1"></button>
          <button type="button" data-bs-target="#carouselExampleCaptions" data-bs-slide-to="1" aria-label="Slide 2"></button>
          <button type="button" data-bs-target="#carouselExampleCaptions" data-bs-slide-to="2" aria-label="Slide 3"></button>
        </div>
        <div class="carousel-inner">
          {% for noticia in noticias %}
            <div class="carousel-item active">
              <img src="{{ noticia.image }}" class="d-block w-100" alt="..." width="75%" style=" display: block; margin-left: auto; margin-right: auto;">
              <a href="{{ noticia.link }}"><div class="carousel-caption d-none d-md-block">
                <h5 style="background-color:#33475b">{{ noticia.title }}</h5>
                <p style="background-color:#33475b">{{ noticia.description }}</p>
              </div></a>
            </div>
          {% endfor %}
        </div>
        <button class="carousel-control-prev" type="button" data-bs-target="#carouselExampleCaptions" data-bs-slide="prev">
          <span class="carousel-control-prev-icon" aria-hidden="true"></span>
          <span class="visually-hidden">Previous</span>
        </button>
        <button class="carousel-control-next" type="button" data-bs-target="#carouselExampleCaptions" data-bs-slide="next">
          <span class="carousel-control-next-icon" aria-hidden="true"></span>
          <span class="visually-hidden">Next</span>
        </button>
      </div>
    {% endif %}

    
    
<!-- END PAGE CONTENT -->
{% endblock %}