{% extends "polls/base.html" %}

{% block content %}
    <header class="w3-container w3-padding-32 w3-center" id="home">
        <h1 class="w3-jumbo"><span class="w3-hide-small">Países</h1>
    </header>

    <div class="w3-content w3-justify w3-text-grey w3-padding-64" id="about">
        {% if paises %}
            <div class="w3-row-padding" style="margin:0 -16px">
                <div class="w3-half w3-margin-bottom">
                    <ul class="w3-ul w3-white w3-center w3-opacity w3-hover-opacity-off">
                        {% for pais in paises %}
                            <li class="w3-dark-grey w3-xlarge w3-padding-32"><img src="{{ pais.flag }}" /> {{ pais.name }}</li>
                        {% endfor %}
                    </ul>
                </div>
            </div>
                <BR></BR>
        </ul>
        {% else %}
        <p>No hay países are available.</p>
        {% endif %}
    </div>

{% endblock %}