{% extends "polls/base.html" %}

{% block content %}
    <header class="w3-container w3-padding-32 w3-center" id="home">
        <h1 class="w3-jumbo"><span class="w3-hide-small">Posiciones</h1>
    </header>

    <div class="w3-content w3-justify w3-text-grey w3-padding-64" id="about">
        {% if tabla %}
            <table class="table">
                <thead>
                <tr>
                    <th scope="col">Nombre</th>
                    <th scope="col">PTS</th>
                    <th scope="col">PJ</th>
                    <th scope="col">PG</th>
                    <th scope="col">PL</th>
                    <th scope="col">PL</th>
                </tr>
                </thead>
                <tbody>
                    {% for each in tabla %}
                        <tr {% if forloop.counter == 1 %} class="table-success" {% endif %}>
                            <th scope="row">{{ each.usr }}</th>
                            <td>{{ each.PTS }}</td>
                            <td>{{ each.PJ }}</td>
                            <td>{{ each.PG }}</td>
                            <td>{{ each.PL }}</td>
                            <td>{{ each.PP }}</td>
                        </tr>
                    {% endfor %}
                </tbody>
            </table>
        {% endif %}
    </div>

{% endblock %}