{% extends "polls/base.html" %}

{% block content %}
    <header class="w3-container w3-padding-32 w3-center w3-black" id="home">
        <h1 class="w3-jumbo"><span class="w3-hide-small">Mis predicciones</h1>
    </header>

    <div class="w3-content w3-justify w3-text-grey w3-padding-64" id="about">
        <!--  -->
        {% for fecha in fechas %}
        <p>
            <a class="btn btn-primary" data-bs-toggle="collapse" href="#multiCollapseExample{{fecha}}" role="button" aria-expanded="false" aria-controls="multiCollapseExample1">Fecha {{ fecha }}</a>
            
        </p>
        <div class="row">
            <div class="col">
                <div class="collapse multi-collapse" id="multiCollapseExample{{fecha}}">
                    <div>
                        {% if predicciones %}
                            <ul class="list-group">
                                {% for prediccion in predicciones %}
                                    {% if prediccion.game.round == fecha %}
                                        <li class="list-group-item {% if prediccion.game.outcome_id != null %} disabled {% endif %}">
                                            {{ prediccion.game.home }} {{ prediccion.home_score }} - {{ prediccion.away_score }} {{ prediccion.game.away }} 
                                        </li>
                                    {% endif %}
                                {% endfor %}
                            </ul>
                            <br>
                            <ul class="list-group"><form action="http://127.0.0.1:8000/polls/cargar/{{fecha}}/">
                                <button class="btn btn-warning" src="http://127.0.0.1:8000/polls/cargar/{{fecha}}/" type="submit" {% if fecha_actual > fecha %} disabled {% endif %}>Modificar</button>
                            </form></ul>
                        {% else %}
                            <ul class="list-group">
                                <li class="list-group-item">
                                    No hay predicciones para mostrar.
                                </li>
                            </ul>
                        {% endif %}
                        </div>
                    </div>
            </div>
          </div>
          <BR>
        {% endfor %}
        <!--  -->
    </div>

{% endblock %}