{% extends "polls/base.html" %}

{% block content %}
    <header class="w3-container w3-padding-32 w3-center" id="home">
        <h1 class="w3-jumbo"><span class="w3-hide-small">Reglas</h1>
    </header>

    <div class="w3-content w3-justify w3-text-grey w3-padding-64" id="about">
        <h2 class="w3-text-light-grey">Reglas</h2>
    <hr style="width:200px" class="w3-opacity">
    <p>Costo de participación: $XX por cada fecha ($XXX total).
      Se deben completar y enviar las planillas enviadas (a xxxx) según el siguiente criterio:
      Cuando la fecha comience un viernes por la tarde/noche, se van a recibir los pronósticos hasta ese viernes hasta 3hs antes del comienzo del primer partido de la fecha, o las 17hs de ese viernes, lo que ocurra primero.
      Cuando la fecha comience un sábado o un domingo, se van a recibir los pronósticos hasta el viernes anterior a las 17hs.
      Cuando la fecha comience un lunes, martes, miércoles o jueves, se van a recibir los pronósticos hasta el mismo día hasta 3hs antes del comienzo del primer partido de la fecha, o las 17hs de ese día, lo que ocurra primero.
      Si no se envían según lo descripto, se considera que no participa en todos los partidos de la fecha. SIN EXCEPCIÓN.
      La puntuación por cada partido será según el siguiente detalle:
      Partidos comunes: Acierto Ganador/Empate 3 puntos  -  Acierto Resultado 5 puntos.
      Partidos destacados: Acierto Ganador/Empate 6 puntos  -  Acierto Resultado 10 puntos.
      Bonus: Acierto 2 puntos.
      Premios:
      Ganador: $XXX.
      2do Puesto: $XXX.
      3er Puesto: $XXX.
      La suma de $XXX se va a repartir en partes iguales entre los ganadores de cada fecha.
      Si hay empate en puntos en la tabla general, se define según el siguiente criterio:
      Mayor cantidad de resultados acertados.
      Mayor cantidad de puntos en la fecha 30.
      Mayor cantidad de puntos bonus.
      Sorteo.
      Si hay empate en puntos en la fechas, se define según el siguiente criterio:
      Mayor cantidad de resultados acertados.
      Mayor cantidad de puntos bonus.
      Sorteo.
      El pago de premios se realizará una vez concluida la última fecha.
    </p>
    </div>

{% endblock %}